asgiref==3.2.7
Babel==2.8.0
beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
Django==3.0.4
django-cogwheels==0.3
django-debug-toolbar==2.2
django-modelcluster==5.0.1
django-phonenumber-field==4.0.0
django-recaptcha==2.0.6
django-taggit==1.2.0
django-treebeard==4.3.1
django-twilio==0.13.0.post1
djangorestframework==3.11.0
draftjs-exporter==2.1.7
html5lib==1.0.1
idna==2.9
l18n==2018.5
phonenumbers==8.12.0
Pillow==6.2.2
PyJWT==1.7.1
python-dotenv==0.12.0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
twilio==6.37.0
Unidecode==1.1.1
urllib3==1.25.8
wagtail==2.8
wagtail-django-recaptcha==1.0
wagtailfontawesome==1.2.1
wagtailmenus==3.0.1
webencodings==0.5.1
Willow==1.3
