@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
/*=======================
       Imports
========================*/
@font-face {
  font-family: "Factoria";
  src: url("Factoria-Medium.eot");
  src: local("Factoria Medium"), local("Factoria-Medium"), url("../fonts/Factoria-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Medium.woff") format("woff"), url("../fonts/Factoria-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-BoldItalic.eot");
  src: local("Factoria Bold Italic"), local("Factoria-BoldItalic"), url("../fonts/Factoria-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-BoldItalic.woff") format("woff"), url("../fonts/Factoria-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Demi";
  src: url("Factoria-Demi.eot");
  src: local("Factoria Demi"), local("Factoria-Demi"), url("../fonts/Factoria-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Demi.woff") format("woff"), url("../fonts/Factoria-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-BlackItalic.eot");
  src: local("Factoria Black Italic"), local("Factoria-BlackItalic"), url("../fonts/Factoria-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-BlackItalic.woff") format("woff"), url("../fonts/Factoria-BlackItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Ultra";
  src: url("Factoria-UltraItalic.eot");
  src: local("Factoria Ultra Italic"), local("Factoria-UltraItalic"), url("../fonts/Factoria-UltraItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-UltraItalic.woff") format("woff"), url("../fonts/Factoria-UltraItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-Black.eot");
  src: local("Factoria Black"), local("Factoria-Black"), url("../fonts/Factoria-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Black.woff") format("woff"), url("../fonts/Factoria-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Book";
  src: url("Factoria-BookItalic.eot");
  src: local("Factoria Book Italic"), local("Factoria-BookItalic"), url("../fonts/Factoria-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-BookItalic.woff") format("woff"), url("../fonts/Factoria-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-Thin.eot");
  src: local("Factoria Thin"), local("Factoria-Thin"), url("../fonts/Factoria-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Thin.woff") format("woff"), url("../fonts/Factoria-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Demi";
  src: url("Factoria-DemiItalic.eot");
  src: local("Factoria Demi Italic"), local("Factoria-DemiItalic"), url("../fonts/Factoria-DemiItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-DemiItalic.woff") format("woff"), url("../fonts/Factoria-DemiItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-Bold.eot");
  src: local("Factoria Bold"), local("Factoria-Bold"), url("../fonts/Factoria-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Bold.woff") format("woff"), url("../fonts/Factoria-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-ThinItalic.eot");
  src: local("Factoria Thin Italic"), local("Factoria-ThinItalic"), url("../fonts/Factoria-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-ThinItalic.woff") format("woff"), url("../fonts/Factoria-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Book";
  src: url("Factoria-Book.eot");
  src: local("Factoria Book"), local("Factoria-Book"), url("../fonts/Factoria-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Book.woff") format("woff"), url("../fonts/Factoria-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-LightItalic.eot");
  src: local("Factoria Light Italic"), local("Factoria-LightItalic"), url("../fonts/Factoria-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-LightItalic.woff") format("woff"), url("../fonts/Factoria-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-Light.eot");
  src: local("Factoria Light"), local("Factoria-Light"), url("../fonts/Factoria-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Light.woff") format("woff"), url("../fonts/Factoria-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Factoria";
  src: url("Factoria-MediumItalic.eot");
  src: local("Factoria Medium Italic"), local("Factoria-MediumItalic"), url("../fonts/Factoria-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-MediumItalic.woff") format("woff"), url("../fonts/Factoria-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Factoria Ultra";
  src: url("Factoria-Ultra.eot");
  src: local("Factoria Ultra"), local("Factoria-Ultra"), url("../fonts/Factoria-Ultra.eot?#iefix") format("embedded-opentype"), url("../fonts/Factoria-Ultra.woff") format("woff"), url("../fonts/Factoria-Ultra.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
}

h1,
h2,
blockquote.short *,
h3,
h4,
h5,
h6 {
  font-family: "Factoria", serif;
  font-weight: 300;
  margin: 0;
  line-height: normal;
}

h1 {
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 70px;
  font-weight: 100;
  color: #231F20;
}

h2, blockquote.short * {
  font-size: 43px;
  font-size: 2.6875rem;
  line-height: 57px;
  font-weight: 900;
  text-transform: uppercase;
  color: #B71219;
}

h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 46px;
  font-weight: 300;
  color: #77C7C6;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 38px;
  font-weight: 300;
  color: #4D9B59;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  color: #231F20;
}

h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 27px;
  text-transform: uppercase;
  color: #B71219;
  font-weight: 100;
}

.background {
  background-size: cover;
}

.hidden {
  display: none;
}

hr {
  border-color: #B71219;
  padding: 0;
  margin: 20px 0 40px;
}

[class^=fa-] {
  font-family: fontawesome;
}

.logo {
  max-width: 200px;
  display: block;
}

.palette {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px !important;
}
.palette ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.palette li {
  display: block;
  float: left;
  list-style: none;
  position: relative;
  right: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
  color: white;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
.palette li:before {
  display: none !important;
}
.palette li:last-child {
  margin-right: 0;
}
.palette li p {
  color: white;
  position: absolute;
  font-size: 20px;
  font-size: 1.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.palette .cp1 {
  background-color: #231F20;
}
.palette .cp2 {
  background-color: #3A506B;
}
.palette .cp3 {
  background-color: #77C7C6;
}
.palette .cp4 {
  background-color: #B71219;
}
.palette .cp5 {
  background-color: #4D9B59;
}

div,
p {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0 0 0.5em;
  line-height: 34px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
div:last-child,
p:last-child {
  margin-bottom: 1em;
}

i,
em {
  font-style: italic;
  font-weight: 300;
}

b,
strong {
  font-weight: 800;
  color: #B71219;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #666;
  display: inline-block;
}
a:hover {
  color: #4D9B59;
}

a:hover,
a:focus {
  text-decoration: none;
}

blockquote.long {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin: 40px 0 0 0;
  padding: 20px 0;
  position: relative;
}
blockquote.long:before {
  content: "“";
  position: absolute;
  position: absolute;
  font-size: 100px;
  font-size: 6.25rem;
  font-weight: 900;
  font-family: "Factoria", serif;
  color: #c4c4c4;
  top: 0;
  left: 50%;
  transform: translate(-50%, -32px);
  background: white;
  padding: 10px;
  height: 34px;
  line-height: 84px;
}
blockquote.long * {
  line-height: 32px;
  font-style: italic;
}
blockquote.long .author p {
  margin: 0;
  color: #4D9B59;
  text-align: right;
}
blockquote.long .author p:before {
  content: "— ";
}

blockquote.short {
  background: #3A506B;
  margin: 40px 0 0 0;
  padding: 20px;
  position: relative;
}
blockquote.short * {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 70px;
  color: white;
  margin: 0;
  padding: 0;
}
blockquote.short .author p {
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 27px;
}
blockquote.short .author p:before {
  content: "— ";
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.rounded {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.footnote,
.footnote * {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

main ol {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
  counter-reset: li-counter;
}

main ol > li {
  position: relative;
  margin-bottom: 0;
  padding: 5px 20px 5px 65px;
  border-bottom: 1px solid #4D9B59;
  border-left: 1px solid #4D9B59;
}
main ol > li:first-of-type {
  border-top: 1px solid #4D9B59;
}

main ol > li:before {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  content: counter(li-counter);
  counter-increment: li-counter;
  background: #77C7C6;
  height: 100%;
  width: 50px;
  padding-top: 10px;
  line-height: 1.3em;
  font-size: 20px;
  font-size: 1.25rem;
}

main ul {
  margin: 0;
  padding: 0;
}
main ul li {
  margin-bottom: 0px;
  padding-left: 25px;
  position: relative;
  list-style-type: none;
}
main ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background: #77C7C6;
  border-radius: 100px;
  height: 15px;
  width: 15px;
}

@media (max-width: 768px) {
  table {
    margin-bottom: 20px;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    position: relative;
    padding: 1.2em 0;
  }
  tr:first-of-type {
    border-top: 1px solid #ccc;
  }

  td {
    display: block;
  }
  td:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #ccc;
  }
  td:not(:first-child)::before {
    content: attr(data-label) " ";
    font-weight: bold;
    color: #77C7C6;
  }
  td[data-label=":"]::before {
    content: none;
  }
  td[data-label="PERCENT OF CLASS:"] {
    text-align: left;
    background: #3A506B;
    color: white;
    padding: 13px !important;
  }

  tr {
    padding: 0;
  }

  td,
th {
    padding: 0.4em 0.6em;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  th {
    background: #e1e1e1;
    font-weight: bold;
  }

  .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
  }
}
.table-responsive > .table {
  margin-bottom: 20px !important;
  border: none;
}

.table-responsive {
  border: none;
}

table {
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

table caption {
  padding: 15px;
  background: #3A506B;
  color: white;
}

th {
  padding: 10px 15px;
  background: #B71219;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

tr:hover {
  background: white;
}

tr:nth-child(even) {
  background: #fcfcfc;
}

tr:nth-child(odd) {
  background: #f5f5f5;
}

td {
  padding: 5px 15px;
}

.form-group .form-control {
  border-radius: 0;
  border-color: #4D9B59;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}

/* -------------- FORMS ---------------- */
fieldset {
  border: none;
}

fieldset ul li {
  margin: 0 0 10px 0;
  list-style: none;
  padding: 0;
  position: relative;
  clear: both;
}

fieldset li label {
  font-size: 13px;
  text-align: left;
  margin: 0 10px 5px 0;
  line-height: 17px;
  color: #333;
}

fieldset li .field_info {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

input,
textarea,
option {
  font-size: 13px;
}

input[type=text],
input[type=password],
textarea {
  border: 1px solid #4D9B59;
  padding: 7px 5px;
  margin: 2px 0;
  width: 100%;
  font-size: 13px;
  transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  /* Firefox 4 */
  -webkit-transition: background-color 0.2s;
  /* Safari and Chrome */
  -o-transition: background-color 0.2s;
  /* Opera */
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

input:focus,
textarea:focus {
  border-color: #77C7C6;
}

select {
  max-width: 300px;
}

option {
  padding: 2px;
  font-size: 14px;
}

textarea {
  height: 60px;
}

/* -------------- Errors ---------------- */
label.error {
  clear: both;
  display: inline-block;
  background: #ef5a60;
  color: white;
  box-shadow: 0 1px 1px #B71219;
  padding: 2px 6px;
  margin: 10px;
}

select.error {
  border: 2px solid #B71219;
}

#form_errors {
  clear: both;
  float: left;
  background: #ef5a60;
  color: white;
  box-shadow: 0 1px 1px #B71219;
  font-size: 12px;
  padding: 5px 6px;
  margin: 10px 0;
}

#form_errors.hide {
  display: none;
}

/* Buttons */
button,
.button,
.btn-primary,
.btn,
.btn-info,
.btn-default {
  display: inline-block;
  padding: 12px 35px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 100;
  background: #77C7C6;
  transition: all 0.5s ease;
  border: none !important;
  cursor: pointer;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
button:hover, button.hover,
.button:hover,
.button.hover,
.btn-primary:hover,
.btn-primary.hover,
.btn:hover,
.btn.hover,
.btn-info:hover,
.btn-info.hover,
.btn-default:hover,
.btn-default.hover {
  color: white !important;
  background: #4D9B59;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
button:active, button.active,
.button:active,
.button.active,
.btn-primary:active,
.btn-primary.active,
.btn:active,
.btn.active,
.btn-info:active,
.btn-info.active,
.btn-default:active,
.btn-default.active {
  color: white !important;
  background: #3A506B;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

/* Utils */
.clear {
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

body .hide {
  display: none;
}

/* reCaptcha */
.ss-recaptcha .ss-recaptcha-logo {
  height: 24px;
  width: 24px;
  float: left;
  background: url(https://www.gstatic.com/recaptcha/api2/logo_48.png);
  background-size: 24px 24px;
  display: none;
}

.ss-recaptcha .ss-anchor-invisible-text {
  font-size: 12px;
  color: #7f7f7f;
}

.ss-recaptcha .ss-anchor-pt {
  font-size: 12px;
}

.ss-recaptcha .ss-anchor-pt a {
  color: #7f7f7f;
}

footer {
  min-height: 100px;
  padding: 20px 20px 50px;
  background: #231F20;
  min-height: 100px;
  box-shadow: 0 500px 0 500px #231F20;
}
footer * {
  color: white;
}
footer a {
  color: #77C7C6;
}
footer a:hover {
  color: #53b8b7;
}

@media (min-width: 768px) {
  .small-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .medium-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .large-padding {
    padding-top: 159px;
    padding-bottom: 159px;
  }

  .column-background.col-md-6 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .bar-header {
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .bar-header .phone {
    top: 20px;
  }
  .bar-header .hamburger {
    top: 25px;
  }

  .contact-container {
    display: block;
  }

  [class^=col]:nth-of-type(even),
[class^=col]:nth-of-type(odd) {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
