@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap");
@import url("https://use.typekit.net/esd1dfo.css");
/*=======================
       Imports
========================*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin-top: 0px;
}

h1, .info h2,
h2,
blockquote.short *,
h3,
h4,
h5,
h6 {
  font-family: "factoria", serif;
  font-weight: 300;
  margin: 0;
  line-height: normal;
}

h1, .info h2, .info blockquote.short *, blockquote.short .info * {
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 70px;
  font-weight: 100;
  color: #231F20;
}

h2, blockquote.short * {
  font-size: 43px;
  font-size: 2.6875rem;
  line-height: 57px;
  font-weight: 900;
  text-transform: uppercase;
  color: #B71219;
}

h3 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 46px;
  font-weight: 300;
  color: #77C7C6;
}

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 38px;
  font-weight: 300;
  color: #4D9B59;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 32px;
  font-weight: 300;
  color: #231F20;
}

h6 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 27px;
  text-transform: uppercase;
  color: #B71219;
  font-weight: 100;
}

.background {
  background-size: cover;
}

.hidden {
  display: none;
}

hr {
  border-color: #B71219;
  padding: 0;
  margin: 20px 0 40px;
}

[class^=fa-] {
  font-family: fontawesome;
}

.logo {
  max-width: 200px;
  display: block;
}

.palette {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px !important;
}
.palette ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}
.palette li {
  display: block;
  float: left;
  list-style: none;
  position: relative;
  right: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  list-style: none;
  color: white;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
}
.palette li:before {
  display: none !important;
}
.palette li:last-child {
  margin-right: 0;
}
.palette li p {
  color: white;
  position: absolute;
  font-size: 20px;
  font-size: 1.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.palette .cp1 {
  background-color: #231F20;
}
.palette .cp2 {
  background-color: #3A506B;
}
.palette .cp3 {
  background-color: #77C7C6;
}
.palette .cp4 {
  background-color: #B71219;
}
.palette .cp5 {
  background-color: #4D9B59;
}

div,
p {
  color: #666;
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0 0 0.5em;
  line-height: 34px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
div:last-child,
p:last-child {
  margin-bottom: 1em;
}

i,
em {
  font-style: italic;
  font-weight: 300;
}

b,
strong {
  font-weight: 800;
  color: #B71219;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  color: #666;
  display: inline-block;
}
a:hover {
  color: #4D9B59;
}

a:hover,
a:focus {
  text-decoration: none;
}

blockquote.long {
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin: 40px 0 0 0;
  padding: 20px 0;
  position: relative;
}
blockquote.long:before {
  content: "“";
  position: absolute;
  position: absolute;
  font-size: 100px;
  font-size: 6.25rem;
  font-weight: 900;
  font-family: "factoria", serif;
  color: #c4c4c4;
  top: 0;
  left: 50%;
  transform: translate(-50%, -32px);
  background: white;
  padding: 10px;
  height: 34px;
  line-height: 84px;
}
blockquote.long * {
  line-height: 32px;
  font-style: italic;
}
blockquote.long .author p {
  margin: 0;
  color: #4D9B59;
  text-align: right;
}
blockquote.long .author p:before {
  content: "— ";
}

blockquote.short {
  background: #3A506B;
  margin: 40px 0 0 0;
  padding: 20px;
  position: relative;
}
blockquote.short * {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 70px;
  color: white;
  margin: 0;
  padding: 0;
}
blockquote.short .author p {
  margin: 0;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 27px;
}
blockquote.short .author p:before {
  content: "— ";
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.rounded {
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

.footnote,
.footnote * {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

button,
.button,
.btn-primary,
.btn,
.btn-info,
.btn-default {
  display: inline-block;
  padding: 12px 35px !important;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white !important;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 100;
  background: #77C7C6;
  transition: all 0.5s ease;
  border: none !important;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
button:hover, button.hover,
.button:hover,
.button.hover,
.btn-primary:hover,
.btn-primary.hover,
.btn:hover,
.btn.hover,
.btn-info:hover,
.btn-info.hover,
.btn-default:hover,
.btn-default.hover {
  color: white !important;
  background: #4D9B59;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
button:active, button.active,
.button:active,
.button.active,
.btn-primary:active,
.btn-primary.active,
.btn:active,
.btn.active,
.btn-info:active,
.btn-info.active,
.btn-default:active,
.btn-default.active {
  color: white !important;
  background: #3A506B;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}

main ol {
  list-style-type: none;
  margin: 0;
  margin-left: 0;
  padding: 0;
  counter-reset: li-counter;
}

main ol > li {
  position: relative;
  margin-bottom: 0;
  padding: 5px 20px 5px 65px;
  border-bottom: 1px solid #4D9B59;
  border-left: 1px solid #4D9B59;
}
main ol > li:first-of-type {
  border-top: 1px solid #4D9B59;
}

main ol > li:before {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  text-align: center;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  content: counter(li-counter);
  counter-increment: li-counter;
  background: #77C7C6;
  height: 100%;
  width: 50px;
  padding-top: 10px;
  line-height: 1.3em;
  font-size: 20px;
  font-size: 1.25rem;
}

main ul {
  margin: 0;
  padding: 0;
}
main ul li {
  margin-bottom: 0px;
  padding-left: 25px;
  position: relative;
  list-style-type: none;
}
main ul li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  background: #77C7C6;
  border-radius: 100px;
  height: 15px;
  width: 15px;
}

@media (max-width: 768px) {
  table {
    margin-bottom: 20px;
  }

  thead {
    display: none;
  }

  tr {
    display: block;
    position: relative;
    padding: 1.2em 0;
  }
  tr:first-of-type {
    border-top: 1px solid #ccc;
  }

  td {
    display: block;
  }
  td:last-child:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #ccc;
  }
  td:not(:first-child)::before {
    content: attr(data-label) " ";
    font-weight: bold;
    color: #77C7C6;
  }
  td[data-label=":"]::before {
    content: none;
  }
  td[data-label="PERCENT OF CLASS:"] {
    text-align: left;
    background: #3A506B;
    color: white;
    padding: 13px !important;
  }

  tr {
    padding: 0;
  }

  td,
th {
    padding: 0.4em 0.6em;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  th {
    background: #e1e1e1;
    font-weight: bold;
  }

  .table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border: none;
  }
}
.table-responsive > .table {
  margin-bottom: 20px !important;
  border: none;
}

.table-responsive {
  border: none;
}

table {
  border: 0;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

table caption {
  padding: 15px;
  background: #3A506B;
  color: white;
}

th {
  padding: 10px 15px;
  background: #B71219;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

tr:hover {
  background: white;
}

tr:nth-child(even) {
  background: #fcfcfc;
}

tr:nth-child(odd) {
  background: #f5f5f5;
}

td {
  padding: 5px 15px;
}

.form-group .form-control {
  border-radius: 0;
  border-color: #4D9B59;
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder,
::placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}

footer {
  min-height: 100px;
  padding: 20px 20px 50px;
  background: #231F20;
  min-height: 100px;
  box-shadow: 0 500px 0 500px #231F20;
}
footer * {
  color: white;
}
footer a {
  color: #77C7C6;
}
footer a:hover {
  color: #53b8b7;
}

.hamburger {
  background: none;
  position: absolute;
  right: 20px;
  z-index: 30;
  top: 30px;
}
.hamburger .hamburger-inner,
.hamburger .hamburger-inner::before,
.hamburger .hamburger-inner::after, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: white;
}
.hamburger:hover, .hamburger:active, .hamburger:focus, .hamburger:visited {
  background: none;
  outline: none;
}
.hamburger.is-active {
  display: none;
}

header {
  display: block;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
header .hamburger.is-active {
  display: inline-block;
}

.contact-container {
  padding: 30px 15px;
  margin: 0 auto;
  text-align: right;
  width: 100%;
  background: url("/static/img/cartographer.webp");
  height: 100%;
  position: relative;
  display: none;
}

.info {
  width: 75%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info * {
  color: white;
}
.info h1, .info blockquote.short *, blockquote.short .info *,
.info h2,
.info p,
.info a {
  text-transform: uppercase;
  display: block;
}
.info h1, .info h2, .info blockquote.short *, blockquote.short .info * {
  line-height: 53px;
  font-weight: 900;
  font-size: 65px;
  font-size: 4.0625rem;
}
.info h2, .info blockquote.short *, blockquote.short .info * {
  color: white;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
}
.info a {
  line-height: 23px;
  margin-bottom: 30px;
}
.info .logo-bug {
  max-width: 100px;
  display: block;
  float: right;
}
.info .logo-bug img {
  width: 100%;
  height: auto;
}
.info a:hover {
  color: #B71219;
}
.info .social-media {
  margin-top: 30px;
}
.info .social-media li {
  list-style: none;
  display: inline-block;
}
.info .social-media li a {
  text-indent: -99999px;
  text-align: left;
  display: block;
  position: relative;
  height: 34px;
  width: 34px;
  margin-left: 20px;
}
.info .social-media li a:before {
  font-size: 40px;
  font-size: 2.5rem;
  display: block;
  position: absolute;
  text-indent: 0;
}

.logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}
.logo img {
  width: 600px;
}

.menu-container {
  background: #4D9B59;
  height: 100%;
  position: relative;
}

nav.navbar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  display: inline-block;
  padding: 0;
}

.navbar-nav .dropdown-menu {
  display: block;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
.navbar-nav .dropdown-menu .dropdown-item {
  padding: 0;
}
.navbar-nav .dropdown-menu .dropdown-item a {
  color: white;
  font-size: 25px;
  font-size: 1.5625rem;
  text-transform: uppercase;
  padding: 7px 15px 7px 25px;
  font-weight: 900;
}
.navbar-nav .dropdown-menu .dropdown-item:hover, .navbar-nav .dropdown-menu .dropdown-item:focus {
  background: none;
}
.navbar-nav .dropdown-menu .dropdown-item:hover a, .navbar-nav .dropdown-menu .dropdown-item:focus a {
  color: #77C7C6;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}

.dropdown-item.active,
.dropdown-item:active,
.active {
  background: none;
}
.dropdown-item.active > a,
.dropdown-item:active > a,
.active > a {
  color: #3A506B !important;
}

a.nav-link {
  color: white;
  font-size: 40px;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 900;
}
a.nav-link:hover {
  color: #77C7C6;
}

.template-home-page .bar-header {
  display: none;
}
.template-home-page .column-background:nth-of-type(2) hr {
  border-color: white;
}
.template-home-page .column-background:nth-of-type(2) p {
  font-size: 1.1em;
}
.template-home-page .column-background:nth-of-type(2) a {
  text-align: center;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: 900;
}

.bar-header {
  margin-bottom: 30px;
}
.bar-header .bar {
  padding-top: 5px;
  padding-bottom: 5px;
}
.bar-header .hamburger {
  right: 35px;
  top: 3px;
}
.bar-header .info,
.bar-header .menu-container {
  position: relative;
  transform: none;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  height: auto;
}
.bar-header .contact-container {
  display: block;
}
.bar-header .phone {
  float: left;
  position: relative;
  top: 0;
  margin-left: 20px;
  font-size: 30px;
  font-size: 1.875rem;
  color: white;
  font-weight: 900;
}
.bar-header .phone:hover {
  color: #77C7C6;
}
.bar-header .logo-bug {
  float: none;
  max-width: 80px;
  margin: 0;
  margin-left: 30px;
}

.center {
  text-align: center;
}

.small-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.medium-padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.large-padding {
  padding-top: 70px;
  padding-bottom: 70px;
}

.background,
.column-background {
  background-color: #292929;
}
.background *,
.column-background * {
  color: white;
}

.column-background.col-md-6 {
  padding-left: 50px;
  padding-right: 50px;
}

[class^=col-] {
  margin-bottom: 0 !important;
}

@media (min-width: 768px) {
  .small-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .medium-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .large-padding {
    padding-top: 159px;
    padding-bottom: 159px;
  }

  .column-background.col-md-6 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .bar-header {
    margin-bottom: 30px;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  .bar-header .phone {
    top: 20px;
  }
  .bar-header .hamburger {
    top: 25px;
  }

  .contact-container {
    display: block;
  }

  [class^=col]:nth-of-type(even),
[class^=col]:nth-of-type(odd) {
    display: block;
  }
}

/*# sourceMappingURL=sytles.css.map */
