/// NOTE:: Site specific css for styles related directly to the new site.

//
// Imports
@import 'core';

//
// Menu
.dropdown:hover .dropdown-menu,
.navbar-expand-md .navbar-nav .nav-link {
    display: block;
}

nav {
    background: $cp1;
}

.navbar {
    padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 14px 12px;
}

.dropdown-item {
    padding: 0;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    border-radius: 0;

    a {
        background: $cp5;
        padding: 10px 12px;
        display: block;
        color: white;

        &:hover {
            background: darken($cp5, 10%);
        }
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    background: none;
}

a.nav-link {
    color: $cp5;

    &:hover {
        color: $cp3;
    }
}

.active {
    background: $cp5;

    a.nav-link {
        color: white;
    }
}

//
// Content
.small-padding {
    padding: 50px 0;
}

.medium-padding {
    padding: 100px 0;
}

.large-padding {
    padding: 150px 0;
}

.background {
    background-color: $dark;

    * {
        color: white;
    }

    img {
        filter: brightness(0) invert(1);
    }
}

//
// Logo
.logo-container {
    padding: 30px 15px;
    max-width: 1140px;
    margin: 0 auto;
}



//
//  Mobile First Development
@import 'tablet';
@import 'desktop';